/* Grundstil für die ganze Seite */
body {
    font-family: Comic, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Stil für das Menü */
.menu {
    background-color: #333;
    color: green;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
}
